body {
  background-color: white;
}

.list-group {
  margin: 1em auto 1em auto;
}

pre {
  font-size: 90%;
  line-height: 1.2em;
  font-family: "Courier 10 Pitch", Courier, monospace;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;

  height:1%;
  width: auto;
  display: block;
  clear: both;
  color: #555555;
  padding: 1em 1em;
  background: #f4f4f4;
  border: solid 1px #e1e1e1
}

.template {
  display: none;
}