<div class="slider">
    <ul class="bxslider">
        <li class="slider__slide" style="background-image: url(/images/slider1.jpg);">
            <div class="slider__text">
                <h3 class="slider__heading">Stworzymy Twoją markę</h3>
                <a href="#" class="slider__link">Dowiedz się więcej</a>
            </div>
        </li>
        <li style="background-image: url(/images/slider2.jpg);">
            <div class="slider__text">
                <h3 class="slider__heading">Od pomysłu<br>po gotowe rozwiązania</h3>
                <a href="#" class="slider__link">Zobacz jak to działa</a>
            </div>
        </li>
        <li style="background-image: url(/images/slider3.jpg);">
            <div class="slider__text">
                <h3 class="slider__heading">Tworzymy z pasją</h3>
                <a href="#" class="slider__link">Zobacz proces kreatywny</a>
            </div>
        </li>
        <li style="background-image: url(/images/slider4.jpg);">
            <div class="slider__text">
                <h3 class="slider__heading">Służymy pomocą na każdym<br>etapie realizacji</h3>
                <a href="#" class="slider__link">Dowiedz się więcej</a>
            </div>
        </li>
        <li style="background-image: url(/images/slider5.jpg);">
            <div class="slider__text">
                <h3 class="slider__heading">Bądź widoczny w krótkim czasie</h3>
                <a href="#" class="slider__link">Dlaczego to możliwe</a>
            </div>
        </li>
    </ul>
</div>