<header class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Kurs ES6</a>
        </div>
        <form class="navbar-form edu-search" action="/search">
            <input class="form-control" type="text" name="q" placeholder="Wyszukaj przykładu">
        </form>
    </nav>
</header>

