<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 20</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container grid-lg">

        <div id="app" v-cloak>

            <template v-if="users.length">

                <h1>Użytkownicy</h1>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Imię i nazwisko</th>
                            <th>Wiek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in users" @click="remove(index)">
                            <td>{{ index + 1 }}.</td>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.age }}</td>
                        </tr>
                    </tbody>
                </table>

            </template>

            <div class="toast" v-else>Brak danych do wyświetlenia.</div>

            <dl>
                <template v-for="user in users">
                    <dt>Name</dt>
                    <dd>{{ user.firstName }} {{ user.lastName }}</dd>
                </template>
            </dl>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            users: [
                {firstName: "Jan", lastName: "Kowalski", age: 32},
                {firstName: "Anna", lastName: "Nowak", age: 27},
                {firstName: "Tomasz", lastName: "Zielony", age: 40},
                {firstName: "Katarzyna", lastName: "Tomczyk", age: 34},
                {firstName: "Mariusz", lastName: "Klasa", age: 21}
            ]
        },
        methods: {
            remove: function(index) {
                this.users.splice(index, 1);
            }
        }
    });

</script>
</body>
</html>